# =========================
# Various
# =========================
node_modules
bower_components
.sass-cache

# =========================
# VIM Temp Files
# =========================
*~
*.swp

# =========================
# WordPress 
# =========================

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
httpdocs/*.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
httpdocs/wp-content/*.php
httpdocs/wp-content/upgrade/
httpdocs/wp-content/plugins/
httpdocs/wp-content/mu-plugins/
httpdocs/wp-content/themes/*.php
httpdocs/wp-content/languages/
httpdocs/wp-content/wp-cache-config.php
httpdocs/wp-admin/
httpdocs/wp-includes/

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
httpdocs/wp-content/themes/DNDigital/style.css
*.map
httpdocs/wp-content/themes/dn-digital/style.css
httpdocs/wp-content/themes/dn-digital/assets/js/source/vendor/modernizr-custom.js
