/* ==========================================================================
   Color variables
   ========================================================================== */


/* Assign values to color names */

	/* Shades */
	
	$color_black: 				rgba(0,0,0,.8);
	$color_white: 				rgba(255,255,255,1);	
	$color_white-bright: 	#fff;

	$color_grey: 				darken($color_white, 50%);
	$color_grey-light: 		darken($color_white, 10%);


	/* Paul Smith Jumper */
	/* http://www.paulsmith.co.uk/eu-en/shop/campaigns/mens/performance-outerwear/men-s-geometric-colour-block-wool-blend-sweater.html*/

	$color_black-psj:			lighten(#1B1A18, 10%); 	// palette-5
	$color_brown-psj:			lighten(#564E39, 10%); 	// palette-1
	$color_red-psj:			lighten(#9F290B, 10%); 	// palette-6
	$color_pink-psj:			lighten(#E67770, 0%); 	// palette-7
	$color_blue-psj:			lighten(#2A575D, 10%); 	// palette-4
	$color_navy-psj:			lighten(#222933, 10%); 	// palette-2
	$color_aubergine-psj:	lighten(#392023, 10%); 	// palette-3

/* Link color names to descriptive names 
	Use these values outside of this stylesheet!
*/

	$color_text:							$color_black; 
	$color_text-cta:						$color_white; 
	$color_text-cta-2:					$color_grey; 


	
	$color_text-selection: 				$color_pink-psj;
	$color_background-cta:				$color_red-psj;
	$color_background-cta-2:			$color_white;
