.scene {
  perspective: 1000;
  width: 10em;
  position: relative;
  margin: 0 auto;
}

.cube {
  color: #ccc;
  cursor: pointer;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
	transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
  
  &:hover {
    transform: rotateX(-90deg);
  }
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  padding-top: 1.5em;
}

.top {
  background:#903F56;
  color: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
}

.front {
  background: #222229;
  color: #903F56;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
}
