/* Featured */

.featured-content {
	color: $color_black;
	@include clearfix;
	position: relative;
	margin-bottom: 1em;
	.media__content {

		
		h3 {
			font-size: 5em;
			a {
				color: #fff;
			}
		}


	}
		img {
			width: 100%;
			height: auto;
		}
}
