/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	background-color: $white;
	color: $black;
	text-align: right;
	background-image: url('../images/footer.png');
	background-repeat: none;
	background-position: top left;
	background-size: cover;
	min-height: 400px;
	@include breakpoint(tablet) {
		height: $sticky-footer-height; 
	}

	.container {

		&>div {
			@include breakpoint(tablet) {

			}

			.social {
				text-align: right;
			}
		}
	}

	p {
		max-width: 100%;
		margin: 0 0 1em 0;
	}

	h4 {
		margin-bottom: .5em;
	}

	ul {

		padding: 0;
		margin: 0;
		margin-left: 50%;
		@include breakpoint(tablet) {
		}

		li {
			margin-bottom: 1em;
			padding: 0 15px;
			@include breakpoint(tablet) {
				padding: 0;
				margin-left: 15px;
			}

		}
	}

 	a {
		color: $mid-grey;
		text-decoration: none;
	}
}

.site-footer a:hover {
	color: darken($black, 10%);
}

.site-footer a:active {
	color: darken($link-color-alt, 15%);
	border-bottom: 1px solid  darken($link-color-alt, 15%); 
}

.site-footer li {
	list-style-type: none;

		@include breakpoint(tablet) {
			font-size: 1em;
		}
}



/* Back to top link */
#back-to-top {
	margin-top: 1em;
	i {
		&.icon-arrow-up {
			padding-right: 7px;
		}
	}

	a {
		display: inline-block;
		padding: .5em 3%;
		width: auto;
		background: darken( $white, 10%);
		@include border-radius( 5px );

		&:link, &:visited {
			background: darken( $white, 15%);
		}
		&:hover {
			background: darken( $white, 25%);
		}
		&:active {
			background: darken( $white, 35%);
		}	}

	@include breakpoint(tablet) {
		display: none;
	}
}
