.hero {
	@include clearfix;
	padding: 1em 0;
	position: relative;
	background-color: $white;
	border-bottom: 2px solid $light-grey;

	@include breakpoint(  mobile-horizontal ) {
		padding: 2em 0;
		background-image: url('../../images/hero-2.png');
		background-repeat: no-repeat;
		background-position: top right;
	}

	.hero-image {
		@include breakpoint( mobile-horizontal ) {
			float: right;
			width: 45%;
			margin-left: 10%;
		}
	}
	.hero-text {
		padding-top: 1em;
		@include breakpoint( mobile-horizontal ) {
			padding-top: 0;
			width: 45%;
			float: left;
		}
		h1 {
			@extend h3;
		}
	}
	img {
		@include breakpoint( mobile-horizontal ) {
			display: none;
		}
	}
}


.hero-header {
	position: relative;
	color: $black;
	text-align: center;

	@include breakpoint(mobile-horizontal) {
		color: $white;
		text-align: left;

	}
	a {
		display: block;
		width: 100%;
		&.cta-primary {
			@include cta-primary;
			margin: 0 0 1em 0;
			@include breakpoint(tablet) {
				margin: 0 20px 0 0;
			}
		}
		&.cta-secondary {
			@include cta-secondary;
		}
	}

	.hero-cta {
		@include clearfix;
		div {
			width: 100%;
			@include breakpoint(mobile){
				display: inline-block;
				width: auto;
			}
		}	
	}
}

// Modifications to the basic hero module for the home page

.home .hero {
	padding: 0;

	// Headers & typography

	h1, h3 {
		@include breakpoint( mobile-horizontal ) {
			color: $black;
		}
	}

	h1 {
		padding: 30px 0 30px;
		margin-bottom: 0;
		@include breakpoint( mobile-horizontal ) {
			font-size: 4em;
			padding: 60px 0 30px;
			width: 50%;
		}
		@include breakpoint( tablet-horizontal ) {
			font-size: 5em;
		}
		@include breakpoint( desktop ) {
			font-size: 6em;
		}
		@include breakpoint( desktop-wide ) {
			font-size: 7em;

		}
	}

	.hero-cta {
				a {
					padding: 1em; // Extra pad for bigness!
				}
		@include clearfix;
		@include breakpoint(mobile-horizontal){
			margin-bottom: 1em;
		}
		@include breakpoint(tablet){
			margin-bottom: 2em;
		}

	}
}

.hero-video-container {
	margin-bottom: 1em;
	@include breakpoint( mobile-horizontal ){
		width: 80%;
	} 
}
