// Base

.masonrycontainer {
	@include clearfix;
}


/* Grid Sizer */

.grid-sizer {
	width: 100%;
	@include breakpoint( $mobile-horizontal ) {
		width: $grid-sizer-1;
	}
	@include breakpoint( $tablet ) {
		width: $grid-sizer-2;
	}
}

/* Gutter Sizer */

.gutter-sizer {
	width: 0; // No gutter
	@include breakpoint( $mobile-horizontal ) {
		width: $gutter-sizer-1;
	}
}


