/* ==========================================================================
   Menus
   ========================================================================== */

ul.menu {
	clear: both;
	display: block;
	width: 100%;
	max-width: 100%;
	text-align: center;
	color: $black;
	background-color: rgba(0,0,0,.7);
	list-style: none;
	margin: 0 0 1em 0;
	padding-left: 0;
	padding-bottom: 1em;
	@include breakpoint( tablet ){
		background-color: rgba(0,0,0,0);
	} 

 	li {
		position: relative;

		@include breakpoint(tablet) {
			display: inline-block;
			&:last-child a {
				border-bottom: none;
			}
		}

		ul { // Sub-menus
			padding: 0;
			list-style-type: none;
			@include breakpoint(tablet){
				position: absolute;  // Overlay other content 
				left: 0;
				width: 250px;
				display: none; // Hide sub-menus
				visibility: hidden; // Hide sub-menus
				opacity: 0;
				padding-bottom: 0; 
			} 
			li {
				width: 100%;
				@include breakpoint( tablet ){
					text-align: left;
					padding: 3px 3px;
				} 
			}
			&.sub-menu {
				background: darken($menu-base-color, 2%);
			}
		}
		&:hover > ul { 
			display: block; // Sub-menus appear on hover
			opacity: 1;
			visibility: visible;
			// background: darken( $menu-base-color, 5%);
			@include transition(all, 0.3s, ease-in-out);
		}
	}
	a {
		display: block;
		font-weight: 700;
		letter-spacing: 1px;
		width: 100%;
		padding: 1.5em 15px;
		text-decoration: none;
		border-bottom: 1px solid $black;
		&:hover {
			@extend .animated;
			@extend .pulse;
			@include breakpoint(tablet) {
				background: darken($menu-base-color, 2%);
				color: darken($black, 6%);
			}		
		}
		&:active {
			color: $white;
			background-color: lighten($mid-grey, 3%);
		}
		@include breakpoint(tablet) {
			display: inline-block;
			border-bottom: none;
			padding: 1.5em 15px;
			font-size: 13px;
		}
	}

	@include breakpoint(tablet) {
		text-align: right;
		float: right;
		padding: 0;
		margin: 0;
	}
	
}


.menu ul li {
	 position: relative;
	 @include breakpoint( tablet ){
		border-bottom: 1px solid darken($menu-base-color, 10%);
	 	border-top: 1px solid lighten($menu-base-color, 2%); 
	 } 
 }

 .menu ul li:first-of-type {
	 border-top: none;
 }

.menu ul ul a {
	 background: darken($menu-base-color, 2%);
	 border-top: 1px solid darken($menu-base-color, 4%);
	 border-bottom: 1px solid lighten($menu-base-color, 2%);
 }

.menu ul ul ul a {
	 background: darken($menu-base-color, 4%);
	 border-top: 1px solid darken($menu-base-color, 6%);
	 border-bottom: 1px solid darken($menu-base-color, 4%);
 }

.menu ul ul li {
 	background: darken($menu-base-color, 10%);
}

/* Top level menu items */

.menu li:hover > a {

}

.menu ul ul li:hover > a {
	 background: darken($menu-base-color, 4%);
 }

.menu ul ul ul li:hover > a {
	 background: darken($menu-base-color, 6%);
 }

.menu ul ul a:hover {
}

.menu ul li:hover > ul {
	display: block;
}

.menu .current_page_item a,
.menu .current-menu-item a {
}

/* Menu toggle */

a#main-menu-toggle {
		display: block;
		position: absolute;
		right: 0;
		top: 1em; 
		line-height: 1em;	
		cursor: pointer;

	&:before {
		font-size: 1.5em;
		font-family: 'fontawesome';
		content: "\f1bb";
	}
	&.active:before {
		color: $black;
	}
	@include breakpoint(tablet) {
		display: none;
	}
}



.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

.menu li.page_item_has_children > a:after {
	content: " +";
	position: absolute;
	right: 3%;
	font-size: 1em;
	padding: 0;
}

/* Highlight "contact" on main menu */

.menu li.menu-item-923 > a {
	@include cta-primary;
	padding: .8em 10px;
	@include breakpoint(tablet) {
		padding: 5px 10px;
	}

}
