/* ==========================================================================
   Blog pages
   ========================================================================== */

article {
	@include clearfix;
	@include add-grid(24 at 480px);
	@include add-gutter(1/3);
	aside {
		@include breakpoint( $tablet ) {
			@include grid-span(8, 17);
		}
	}
	.entry-content {
		@include breakpoint( $tablet ) {
			@include grid-span(12, 1);
		}
	}
}

.image-wrapper {
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-bottom: 1em;
	img {
		width: 100%;
	}
}

.grid-wrapper { // wraps the blog archive
	@extend .container;

	.section {
		width: 100%;
		background: #ddd;
		margin-bottom: 10px;
	
		@include breakpoint( $mobile-horizontal ){
			width: $grid-sizer-1;
		}	
		@include breakpoint( $tablet ){
			width: $grid-sizer-2;
		}
	} 
	article {
		.entry-content {
			width: 100%;
			float: none;
			margin: 0;
		}
	}
}
