/* ==========================================================================
   Forms
   ========================================================================== */
#signup {
	background: $color_grey-light;
}

form {

	p.field {


			
			&.signin { /* The sign up button */
				@include cta-primary;
				display: block;
				width: 100%;
				@include breakpoint( $mobile ) {
					display: table-cell;
					width: auto;
				}
				@include breakpoint( $tablet ) {
					margin: 0;
					padding: 0;
					vertical-align: bottom;
					input {
						margin: 0;
					}
				}
			}

			span {
				@include breakpoint( $mobile ) {
					padding: 1em 0;
					display: table-cell;					
					text-align: left;
					margin-left: 10px;
				}
			}		
	}
}

input {
	padding: 1em 10px;
	border: none; // 1px solid $light-grey
	width: 100%;
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
	color: $color_black;
	
	&[type=submit] {
		// @include cta-primary;

		background: rgba(0, 0, 0, .3);
		color: $color_white;		
		border: none;
		@include breakpoint( $mobile ) {
			width: auto;
		}

		&:hover {
			background: rgba(0, 0, 0, .4);		
		}
		&:focus {
			background: rgba(0, 0, 0, .5);		
		}
	}
}
