.nav-button svg path {
	stroke: #fff;
	fill: #333;
}

.nav-button svg circle {
	fill: #111;
	opacity: .2;
}
/* ====================== lines button ==================================================*/
.lines-button {
  padding: 1.5em 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  display: block;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background: rgba(0,0,0,0.2);
  border-radius: 0;
  transition: 0.5s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background: rgba(0,0,0,0.2);
  border-radius: 0;
  transition: 0.5s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 1rem;
}
.lines:after {
  top: -1rem;
}

.lines-button:hover .lines:before {
  top: 1.14286rem;
}
.lines-button:hover .lines:after {
  top: -1.14286rem;
}

.lines-button.open {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.open .lines:before, .lines-button.arrow.open .lines:after {
  top: 0;
  width: 2.22222rem;
}
.lines-button.arrow.open .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.open .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.open {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.open .lines:before, .lines-button.minus.open .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
  width: 3rem;
}

.lines-button.x.open .lines {
  background: transparent;
}
.lines-button.x.open .lines:before, .lines-button.x.open .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 3rem;
}
.lines-button.x.open .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.open .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
  transition: background 0.3s 0.5s ease;
}
.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease;
}

.lines-button.x2.open .lines {
  transition: background 0.3s 0s ease;
  background: transparent;
}
.lines-button.x2.open .lines:before, .lines-button.x2.open .lines:after {
  transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease;
  top: 0;
  width: 4rem;
}
.lines-button.x2.open .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x2.open .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* ====================== cross button ==================================================*/
.cross-button {
  padding: 1.5em 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  display: block;
  /* */
}
.cross-button:hover {
  opacity: 1;
}
.cross-button:active {
  transition: 0;
}

.cross {
  display: inline-block;
  width: 3em;
  height: 0.3em;
	background: rgba(0, 0, 0, 0.2);  border-radius: 0;
  transition: 0.5s;
  position: relative;
}
.cross:before {
  display: inline-block;
  width: .3em;
  height: 3em;
background: rgba(0, 0, 0, 0.2);  border-radius: 0;
  transition: 0.5s;
  position: absolute;
  content: '';
}
.cross:before {
  top: -1.35em;
  right: 45%;
}
.cross-button:hover .cross {
  -webkit-transform: scale3d(1.2, 1, 1);
  transform: scale3d(1.2, 1, 1);
}
.cross-button:hover .cross:before {
  -webkit-transform: scale3d(1, 1.2, 1);
  transform: scale3d(1, 1.2, 1);
}

.cross-button.x.open {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.cross-button.x.open .cross:before, .cross-button.x.open .cross {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.cross-button.x.open .cross {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.si-icons span {
	color: #999;
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

.si-icons-hover span {
	width: 32px;
	height: 32px;
}

/* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */

.no-svg .si-icon-clock { background-image: url('png/clock.png') }
.no-svg .si-icon-contract { background-image: url('png/contract.png') }
.no-svg .si-icon-down-arrow { background-image: url('png/down-arrow.png') }
.no-svg .si-icon-equalizer { background-image: url('png/equalizer.png') }
.no-svg .si-icon-flag { background-image: url('png/flag.png') }
.no-svg .si-icon-glass-empty { background-image: url('png/glass.png') }
.no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross { background-image: url('png/hamburger.png') }
.no-svg .si-icon-hourglass { background-image: url('png/hourglass.png') }
.no-svg .si-icon-mail { background-image: url('png/mail.png') }
.no-svg .si-icon-maximize, .no-svg .si-icon-maximize-rotate { background-image: url('png/maximize.png') }
.no-svg .si-icon-monitor { background-image: url('../png/monitor.png') }
.no-svg .si-icon-nav-left-arrow { background-image: url('../png/nav-left-arrow.png') }
.no-svg .si-icon-nav-up-arrow { background-image: url('../png/nav-up-arrow.png') }
.no-svg .si-icon-lock { background-image: url('../png/padlock.png') }
.no-svg .si-icon-play { background-image: url('../png/play.png') }
.no-svg .si-icon-plus, .no-svg .si-icon-plus-cross { background-image: url('../png/plus.png') }
.no-svg .si-icon-right-arrow { background-image: url('../png/right-arrow.png') }
.no-svg .si-icon-smiley { background-image: url('../png/smiley.png') }
.no-svg .si-icon-trash { background-image: url('../png/trash.png') }
.no-svg .si-icon-volume { background-image: url('../png/volume.png') }
.no-svg .si-icon-zoom { background-image: url('../png/zoom.png') }

/* alternatively you can define that there is no background image when SVG is supported instead of using .no-svg */
