/* ==========================================================================
   Variables
   ========================================================================== */

$base-font-size: 16px;

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure

$container-width: 64em; // Set max width of container element in ems.
$pageWidth: 100%;
$textblock-width: 100%;
$block-padding: 1em 3%;
$side-padding: 0 3%;

	/* Masonry layouts */

	// Apply these to the .grid-sizer and .gutter-sizer elements, plus the items themselves.

	$grid-sizer-1: 47.5%; // 2 columns, gutter x1
	$grid-sizer-2: 30%; // 3 columns, gutter x2
	$gutter-sizer-1: 5%; // width of gutter


// Text Selection
$selectionColor: $orange;

/* ==========================================================================
   Colors
   ========================================================================== */

$white: #f0f0f0;
$light-grey: #ddd;
$mid-grey: #8A959E;
$black: #333;
$red: green;
$blue: blue;
$orange: orange;

	// Borders
	$border-color: $light-grey;

	// CTAs
	$color-primary-cta: $white;
	$color-bg-primary-cta: $orange;
	$color-secondary-cta-1: $mid-grey;
	$color-secondary-cta-2: $white;
	$color-bg-secondary-cta: transparent;

	// Menu 
	$menu-base-color: $white;

	// Anchors (Links)
	$link-color: $orange;
	$link-decoration: none;
	$hover-color: $mid-grey;
	$hover-decoration: underline;


// Alternate Color Scheme

$base-color-alt: $nephritis;
$text-color-alt: darken(white, 5%);
$text-shadow-color-alt: none;
	// Links
	$link-color-alt: darken(white, 15%);

// Fixed height header & footer
$sticky-footer-height: 50px;
$fixed-header-height: 56px;

// Animate-sass
$use-pulse				:	true !default;
$use-fadeInDown 		: 	true !default;
$use-fadeOutUp 		: 	true !default;
$use-fadeInLeft 		: 	true !default;
$use-fadeInRight 		: 	true !default;
